{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'signup_login.css' %}">

</head>
<body style="
  background-image: url('{% static 'c.png' %}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
">


    
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/register/" method='POST'>
			{% csrf_token %}
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" name='name'/>
			<input type="email" placeholder="Email" name='email'/>
			<input type="password" placeholder="Password" name='password'/>
			<button type='submit' name='sign' value='f1'>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/register/" method='POST'>
			{% csrf_token %}
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="text" placeholder="Name" name='username' />
			<input type="password" placeholder="Password" name='password2'/>
			<a href="#">Forgot your password?</a>
			<button type='submit' name = 'sign' value='f2'>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>Enter your details and hit the road with comfort and style!</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Mate!</h1>
				<p>Enter your details to create an account and start your smooth ride!</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<script src="{% static "signup_login.js" %}"></script>
</body>
</html>